body {
    margin: 0;
    padding-bottom: 100px;
    padding-top: 70px;
    color: rgb(0, 0, 0);
    background: linear-gradient(to bottom, rgb(204, 204, 204) , rgb(128, 128, 128);
    background-repeat: no-repeat;
}

.nav {
    background: linear-gradient(to right, rgb(100, 1, 1), rgb(1, 1, 114));
    text-align: center;
    padding: 30px;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav a {
    text-decoration: none;
    color: white;
    margin-right: 24px;
    padding: 22px;

}

.nav a:hover {
    background-color: white;
    color: black;
    opacity: 0.5;
    border-radius: 50%;
}

.nava {
    font-size: 20px;
}

.navh {

    margin-top: 100px;
}

.text {
    margin: 5%;
}

.navp {
    font-size: 18px;
}

/* Style for screens narrower than 768px */
@media (min-width: 600px) {
    .navp {
        font-size: 24px;
        border-spacing: 10px;
    }

    .nava {
        font-size: 25px;
        ;
    }
}

@media (min-width: 750px) {
    .navp {
        font-size: 26px;
        border-spacing: 10px;
    }

    .nava {
        font-size: 36px;
        ;
    }
}

.lan {
    color: #180158;
}

.kuar {
    text-align: right;
}
